{% extends "base.html" %}

{% block content %}
<style>
input {
	margin: 5px;
}
form [type="submit"] {
	margin-top: 10px; 
	font-size: 15px;
}
</style>

<h2> Login </h2>
<form action="/login" method="POST">
	<div class="container">
			<div class="form-group">
				<div class="input">
					<input type="email" name = "email" placeholder="email" required/> 
				</div>
				<div class="input">
					<input type="password" name = "password" placeholder="password" required/>
				</div>
			
			<input type="submit" value = Login />

			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}

		</div>
	</div>
</form>

<a href="/">Go back</a>

{% endblock %}