{% extends "base.html" %}

{% block content %}

<style>
    input {
        margin: 5px;
    }
    form [type="submit"] {
        margin-top: 10px; 
        font-size: 15px;
    }

</style>

<h2> Staff Login </h2>
<form action="/stafflogin" method="POST">
    <div class="container">
            <div class="form-group">
                <div class="input">
                    <input type="text" name = "username" placeholder="username" required/> 
                </div>
                <div class="input">
                    <input type="password" name = "password" placeholder="password" required/>
                </div>
            
            <input type="submit" value = Login />

            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}

        </div>
    </div>
</form>

{% endblock %}